header {
  padding: 15px 10px 15px 10px;
  background-color: rgb(251, 197, 71);;
}

footer {
  padding: 15px 10px 15px 10px; 
  background-color: rgb(249, 249, 249);;  
}

.container {
  margin: 0 auto;
  padding: 10px;
  overflow: auto;
  width: 75%;

  img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }
  
  p {
    line-height: 1.5em;
  }

  @media screen and (min-width: 1000px) {
    img {
      float: right;
    }
  }
}

.home {

}
